.vs/Lab2_Rotations/v17/ipch/AutoPCH/f1e4bac741848ee7/MATRIX3X3.ipch
.vs/Lab2_Rotations/v17/Browse.VC.opendb
.vs/Lab2_Rotations/v17/Browse.VC.db-wal
.vs/Lab2_Rotations/v17/Browse.VC.db-shm
.vs/Lab2_Rotations/v17/Browse.VC.db
.vs/Lab2_Rotations/FileContentIndex/f7efaf57-987b-41a8-a527-32113bc128f5.vsidx
.vs/Lab2_Rotations/FileContentIndex/bbe28d50-c712-4a1d-99be-369e8fd45546.vsidx
.vs/Lab2_Rotations/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
.vs/Lab2_Rotations/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
.vs/Lab2_Rotations/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
.vs/Lab2_Rotations/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
.vs/Lab2_Rotations/v17/ipch/AutoPCH/f1e4bac741848ee7/MATRIX3X3.ipch
.vs/Lab2_Rotations/v17/Browse.VC.db
.vs/Lab2_Rotations/FileContentIndex/bbe28d50-c712-4a1d-99be-369e8fd45546.vsidx
